.schedule_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background: aqua; */
    margin: 10rem 0;
    padding: 0 2rem;
}

.schedule_heading {
    font-size: 4.768rem;
    color: var(--color-bg);
    margin-bottom: 3rem;
}

.schedule_content {
    color: var(--color-grey);
    font-size: 1.953rem;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.schedule_img {
    margin: 2rem;
}

/* ==================== Media Quaries (Medium-large Devices) ====================== */
@media screen and (max-width: 1500px) {

}


/* ==================== Media Quaries (Medium Devices) ====================== */
@media screen and (max-width: 1024px) {
    .schedule_heading {
        font-size: 3.052rem;
    }
    
    .schedule_content {
        font-size: 1.25rem;
    }
}

/* ==================== Media Quaries (Small Devices) ====================== */
@media screen and (max-width: 600px) {
    .schedule_heading {
        font-size: 2.441rem;
    }
    
    .schedule_content {
        font-size: 1rem;
    }

    .button_container {
        margin: 1rem 0;
    }
}