@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #F0F0F3; 
    --color-dark-shadow: #B5B5B9;
    --color-white: #FFFFFF;
    --color-orange: #F07920;
    --color-vermillion: #C03218;
    --color-grey: #727072;
    --color-dark-bg: #1B1D25;
    --color-dark-dark: #100C10;
    --color-dark-light: #2A2D34;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --font-size : 3.052rem;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}


/* ==================== General Styles ====================== */
.container {
    /* width: var(--container-width-lg); */
    /* margin: 0 auto; */
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    /* COMMENT OUT LATER */
    color: black;
}

h1 {
    font-size: 10rem;
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-vermillion);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    /* border: 1px solid var(--color-vermillion); */
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-orange);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary{
    background: var(--color-vermillion);
    color: var(--color-bg);
    border-color: transparent;
}

.neumorphism {
    text-shadow: 4px 4px 7px var(--color-dark-shadow)
    , -4px -4px 6.54px var(--color-white);
}

